{% extends "admin/change_form.html" %}

{% block content %}

	{% if errors %}
		You've got some errors:
		<ul>
		{% for error in errors %}
			<li>There is an output unit mismatch in the '{{error.fieldmap}}' fieldmap of the <a href="/admin/intersection/organizationscheme/{{error.scheme_pk}}">{{error.scheme}}</a> organization scheme.</li>
		{% endfor %}
		</ul>
		You should <a href='/admin/intersection/organizationscheme/'>go fix it</a>.
	{% else %}
		You organizational scheme is valid.  Congratulations. <a href='/admin'>Go back to the admin tool.</a>
	{% endif %}

{% endblock %}