<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>panel_tests</title>
        
    </head>
    <body>
        {% load footer %}
        {% load panel %}
        {% panel "My Title" %}
            {% footer %}
                <h3>I am so cool</h3>
                <p>
                    Blah blah footer...
                </p>
            {% endfooter %}
        {% endpanel %}
        
        {% load tab %}
        {% load tabpanel %}
        {% tabpanel "My Tab Panel" %}
            {% tab "My Tab One" %}
                <p>
                    Tab one content
                </p>
            {% endtab %}
            {% tab "My Tab Two" %}
                <p>
                    Tab two content
                </p>
                {% footer %}
                    <h3>My footer</h3>
                    <p>blah</p>
                {% endfooter %}
            {% endtab %}
        {% endtabpanel %}
        
        {# {% load tabpanel %} #}
        {# {% tabpanel %} #}
        {# {% endtabpanel %} #}
    </body>
</html>